:root {
    --wild-watermelon: #DA3F87;
    --seal-brown:#2A1A3C;
    --blue-gem: #44318D;
    --silver-chalice: #A4B3B6;
    --livid: #8165A6;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

body{
    background-image: url('/images/bgimg.jpg');
    background-size: cover;
}


h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Roboto Slab',serif;
    margin-top: 100px;
    color: var(--livid);

}

h2{
    text-align: center;
    font-family: 'Roboto Slab',serif;
    color: var(--wild-watermelon);
    text-transform: capitalize;

}
p{
    font-weight: bold;
    text-align: center;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item.active .nav-link, .navbar-brand{
    color: var(--silver-chalice);
    font-family: 'Roboto Slab',serif;
    font-size: large;
}

.navigation-links {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 40px;
    padding: 25px 35px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    box-shadow: var(--box-shadow);
    background-color: var(--livid);
    color: var(--silver-chalice);
   
  }
  .about-link {
    box-shadow: var(--box-shadow);
    background-color: var(--livid);
    color: var(--silver-chalice);
    
  }

  .greeting{
    color: var(--silver-chalice);
  }
  